.topPage {
  min-height: 93vh;
  padding-top: 30px;
  background: #bababa;
  overflow-x: scroll;
  .listWrapper {
    display: flex;
    height: 100%;
    align-items: baseline;
    .list {
      position: relative;
      background: #e2e4e6;
      padding: 10px;
      margin-left: 20px;
      min-width: 250px;
      &:last-child {
        margin-right: 20px;
      }
      &_header {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_title {
          font-size: 20px;
          margin: 0;
        }
        &_action {
          .fa-pen, .fa-trash {
            font-size: 18px;
            color: #8c8c8c;
          }
          .fa-trash {
            margin-right: 10px;
          }
        }
      }
      .cardWrapper {
        overflow-y: scroll;
        max-height: 76vh;

        .cardDetail_link {
          text-decoration: none;
          color: #323232;
        }

        .card {
          margin-bottom: 10px;
          padding: 10px;
          &_title {
            font-size: 17px;
          }
          &_detail {
            display: none;
            &.is-exist {
              display: block;
              color: #999;
              & > i {
                display: block;
              }
            }
          }
        }
        .addCard {
          color: #8c8c8c;
          &_link {
            color: #8c8c8c;
          }
        }
      }
    }
  }
}

// All User page

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
  }
}

// paginate
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}